body {
    font-family: 'Inter', sans-serif;
}
.white {
    background-color: #F3F2F0;
    color: #010101;
}
.white .nav-link {
    color: #010101;
}
.white .circle circle {
    fill: #FFFFFF;
}
.white .triangle path {
    fill: #D40000;
}
.white .social, 
.white .steps-item,
.white .about-title,
.white .about-description {
    border-bottom: 1px solid #010101;
}
.white .steps-item:first-child {
    border-top: 1px solid #010101;
}
.dark {
    background-color: #232326;
    color: #F3F2F0;
}
.dark .nav-link {
    color: #F3F2F0;
}
.dark .circle circle {
    fill: #D40000;
}
.dark .triangle path {
    fill: #FFFFFF;
}
.dark .social, 
.dark .steps-item,
.dark .about-title,
.dark .about-description {
    border-bottom: 1px solid #F3F2F0;
}
.dark .steps-item:first-child {
    border-top: 1px solid #F3F2F0;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 60px;
}
.nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}
.nav-link {
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s color ease;
    line-height: 150%;
}
.nav-link:hover {
    color: #D40000;
}
.nav-item {
    padding-left: 14px;
    padding-right: 14px;
}
.nav-item:first-child {
    padding-left: 0;
}
.nav-item:last-child {
    padding-right: 0;
}
.nav-slash .nav-item {
    position: relative;
}
.nav-slash .nav-item::before {
    content: '';
    display: block;
    height: 24px;
    width: 1px;
    background-color: rgba(1,1,1,0.2);
    position: absolute;
    left: 0;
    top: calc(50% - 12px);
}
.nav-slash .nav-item:first-child::before {
    display: none;
}
.name {
    font-size: 28px;
    font-weight: 400;
    position: relative;
    z-index: 2;
}
.main .title-h1 {
    position: relative;
    z-index: 2;
    letter-spacing: 0.03em;
}
.title-h1 {
    font-size: 74px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 37px;
}
.photo {
    margin-bottom: 94px;
    width: 100%;
}
.social {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    margin-top: 106px;
}
.social .nav-link {
    font-size: 16px;
    text-transform: capitalize;
}
.social-item:last-child {
    position: relative;
}
.social-item .nav-item {
    padding-left: 28px;
    padding-right: 28px;
}
.social-item .nav-item:last-child {
    padding-right: 0;
}
.project {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 11px;
    border-bottom: 2px solid transparent;
    transition: 0.4s border linear;
}
.project:hover {
    border-bottom: 2px solid #010101;
}
.project-img {
    display: block;
    width: 16px;
    height: 12px;
    background-image: url(../img/arrow.svg);
    margin-left: 15px;
}
.title-h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.03em;
}
.skill {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 139px;
}
.skill-item {
    flex: 0 0 23.8%;
}
.skill .title-h3 {
    text-transform: uppercase;
    margin-top: 0;
}
.description {
    font-size: 14px;
    line-height: 150%;
    opacity: 0.8;
}
.about {
    display: grid;
    grid-template: 16em/repeat(4,1fr);
}
.about-title {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 150%;
}
.about-description {
    grid-column: 3/5;
    grid-row: 1/2;
    font-size: 28px;
    line-height: 150%;
    opacity: 0.8;
    padding-left: 10px;
}
.about-01 {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-top: 44px;
    padding-right: 55px;
    padding-left: 10px;
}
.about-02 {
    grid-column: 4/5;
    grid-row: 2/3;
    padding-top: 44px;
    padding-left: 14px;
}
.about-03 {
    grid-column: 3/4;
    grid-row: 3/4;
    padding-top: 31px;
    padding-right: 57px;
    padding-left: 10px;
}
.about-04 {
    grid-column: 4/5;
    grid-row: 3/4;
    padding-top: 31px;
    padding-left: 14px;
}
.about-item .title-h3 {
    margin-bottom: 19px;
    letter-spacing: 0.00em;
}
.section-steps {
    padding-top: 166px;
    padding-bottom: 179px;
}
.steps-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 150%;
}
.steps-title {
    font-size: 28px;
    margin-top: 39px;
    margin-bottom: 38px;
}
.steps-title span {
    margin-right: 40px;
}
.steps-description {
    opacity: 0.8;
    font-size: 16px;
    line-height: 150%;
    flex: 0 0 49%;
    max-width: 49%;
}
.triangle-main {
    width: 76px;
    height: 95px;
    position: absolute;
    top: -37px;
    left: -151px;
    z-index: 1;
}
.triangle-form {
    width: 73.34px;
    height: 91.67px;
    position: absolute;
    top: 40px;
    left: -180px;
    z-index: 1;
}
.circle-main {
    width: 253px;
    height: 253px;
    position: absolute;
    top: calc(50% - 138px);
    left: -128px;
    z-index: 1;
}
.circle-tarif {
    height: 140px;
    width: 140px;
    position: absolute;
    left: -70px;
    top: calc(50% - 70px);
    z-index: 1;
}
.circle-price {
    height: 90px;
    width: 90px;
    position: absolute;
    left: -35px;
    top: calc(50% - 45px);
}
.circle-form {
    height: 300px;
    width: 300px;
    position: absolute;
    left: -150px;
    top: calc(50% - 2px);
}
.circle-social {
    width: 106px;
    height: 106px;
    position: absolute;
    right: 38px;
    top: calc(50% - 53px);
}
.section-portfolio {
    position: relative;
}
.circle-portfolio {
    position: absolute;
    width: 465px;
    height: 465px;
    top: -323px;
    left: 347px;
}
.portfolio {
    line-height: 90px;
    margin-top: 0;
    margin-bottom: 144px;
    position: relative;
    z-index: 1;
}
.gradient {
    background: linear-gradient(180deg, #E7E6E6 0%, rgba(231, 230, 230, 0) 100%);
}
#tabs {
    position: relative;
}
.nav-tabs {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    top: -40px;
    font-size: 16px;
}
.nav-tabs-item {
    margin-right: 76px;
}
.nav-tabs-link {
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    color: rgba(1, 1, 1, 0.4);
    text-decoration: none;
}
.nav-tabs-item.ui-state-active .nav-tabs-link{
    color: #010101;
    border-bottom: 2px solid #010101;
}
.nav-tabs-link:focus {
    outline: none;
}
.work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #010101;
    padding-top: 62px;
    padding-bottom: 57px;
}
.work:first-child {
    border-top: 1px solid rgba(1, 1, 1, 0.2);
}
.work-title {
    font-size: 28px;
    line-height: 150%;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 40px;
}
.work-item {
    flex: 0 0 49%;
}
.work-list {
    list-style-type: none;
    padding-left: 0;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
    margin-bottom: 40px;
}
.work-list-item {
    margin-bottom: 10px;
}
.work-time {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
}
.work-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 315px;
}
.work-img {
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(50%,50%);
    width: 100%;
    height: 315px;
    object-fit: cover;
}
.section-advantages {
    padding-top: 153px;
}
.advantages-text {
    font-size: 28px;
    line-height: 150%;
    max-width: 870px;
    padding-bottom: 51px;
}
.advantages {
    display: grid;
    grid-template: 1fr 1fr/repeat(3,1fr);
    grid-gap: 50px 20px;
    border-top: 1px solid #010101;
    padding-top: 65px;
}
.advantages-item {
    display: flex;
    align-items: center;
}
.advantages-image {
    margin-right: 40px;
}
.advantages-image svg {
    width: 40px;
    height: 40px;
}
.advantages-image path {
    fill: #010101;
}
.advantages-description {
    font-size: 14px;
    line-height: 150%;
    opacity: 0.8;
    margin-top: 0;
}
.advantages-title .title-h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.00em;
    margin-bottom: 0;
    padding-bottom: 10px;
}
.tech {
    display: grid;
    grid-template: 148px 148px/repeat(4,1fr);
    text-align: center;
}
.section-tech {
    margin-top: 165px;
    margin-bottom: 151px;
}
.tech-item {
    border-bottom: 1px solid rgba(1, 1, 1, 0.3);
    border-right: 1px solid rgba(1, 1, 1, 0.3);
    display: flex;
    justify-content: center;
}
.tech-item:first-child,
.tech-item:nth-child(5) {
    border-left: 1px solid rgba(1, 1, 1, 0.3);
}
.html, .css, .js, .jquery {
    border-top: 1px solid rgba(1, 1, 1, 0.3);
}
.tech-img {
    filter: grayscale(100%);
    transition: 0.2s ease;
}
.tech-item:hover .tech-img {
    filter: grayscale(0);
}
.ui-tooltip {
    background-color: #E31B1B;
    border-color: #E31B1B!important;
    border-radius: 0;
    text-align: center;
    box-shadow: none!important;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 232px;
    line-height: 150%;
    padding: 20px;
    box-sizing: border-box;
}
.ui-tooltip-content::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -20px;
    width: 2px;
    border: 10px solid transparent;
    border-bottom: 10px solid #E31B1B;
}
.tarif {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 90px;
}
.tarif-item {
    border-bottom: 1px solid #010101;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 363px;
}
.tarif .tarif-item:nth-child(7) {
    border-bottom: none;
}
.tarif .tarif-item:nth-child(8) {
    border-bottom: none;
}
.tarif-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 150%;
    border-bottom: 1px solid #010101;
}
.tarif-title > div {
    position: relative;
}
.tarif-title p {
    position: relative;
    z-index: 1;
}
.tarif-description {
    font-size: 28px;
    line-height: 150%;
    opacity: 0.8;
    padding-left: 10px;
    border-bottom: 1px solid #010101;
    padding-bottom: 51px;
}
.tarif-name {
    font-size: 28px;
    line-height: 150%;
    margin-top: 60px;
    margin-bottom: 20px;
}
.tarif-text {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
}
.tarif .project {
    display: inline-flex;
}
.tarif-pack {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.tarif-list {
    list-style-type: none;
    margin: 0;
    font-size: 16px;
    line-height: 200%;
    padding-left: 10px;
}
.tarif-list-item {
    position: relative;
    padding-left: 15px;
}
.tarif-list-item::before {
    content: '';
    display: block;
    height: 4px;
    width: 4px;
    background: #010101;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
}
.tarif-price {
    font-weight: 700;
    font-size: 42px;
    line-height: 150%;
    position: relative;
    z-index: 1;
    padding-left: 10px;
}
.tarif-footer {
    position: relative;
    margin-bottom: 60px;
}
.tarif-footer p {
    margin: 0;
}
.section-form > div {
    position: relative;
}
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 130px;
}
.form-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 150%;
    border-bottom: 1px solid #010101;
}
.form-description {
    font-size: 28px;
    line-height: 150%;
    opacity: 0.8;
    padding-left: 10px;
    border-bottom: 1px solid #010101;
}
.form-description p {
    margin-bottom: 59px;
}
form {
    font-size: 12px;
    line-height: 150%;
    margin-top: 60px;
    padding-left: 10px;
}
form label {
    opacity: 0.8;
    display: block;
    margin-bottom: 9px;
}
form input {
    width: 100%;
    padding: 27px 20px 25px;
    background-color: rgba(1, 1, 1, 0.05);
    border: none;
    box-sizing: border-box;
    margin-bottom: 22px;
    color: #010101;
}
form input[type="submit"] {
    background: #D40000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    padding: 20px 20px;
    margin-bottom: 0;
}
form input[type="submit"]:hover {
    background: #EA0E00;
}
form input:focus {
    outline: none;
}
.ui-selectmenu-button.ui-button {
    width: 100%;
    padding: 24px 20px 23px;
    background-color: rgba(1, 1, 1, 0.05);
    color: #010101;
    font-size: 12px;
    line-height: 150%;
    box-sizing: border-box;
    margin-bottom: 42px;
    border-radius: 0;
}
.ui-button:hover, .ui-button:focus {
    outline: none;
    border: none;
}
.ui-selectmenu-menu .ui-menu {
    background-color: #E7E6E4;
    padding: 10px 0 20px 20px;
    font-size: 12px;
    line-height: 150%;
    color: rgba(1, 1, 1, 0.4);
}
.ui-selectmenu-menu .ui-menu .ui-menu-item {
    padding-top: 8px;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item:hover {
    color: rgba(1, 1, 1, 1);
}
.form-item .nav-link {
    font-size: 16px;
    text-transform: capitalize;
}
.form-item .nav-item {
    padding-left: 28px;
    padding-right: 28px;
}
.form-item .nav-item:first-child {
    padding-left: 0;
}
.form-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.ui-button .ui-icon {
    background-image: url(/img/Arrowdown.svg);
}
footer {
    border-top: 1px solid #010101;
    padding-top: 60px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
}
.footer-bottom p {
    font-size: 12px;
    line-height: 150%;
    color: rgba(1, 1, 1, 0.3);
}
.footer-link {
    color: rgba(1, 1, 1, 0.3);
    text-decoration: none;
    border-bottom: 1px solid rgba(1, 1, 1, 0.3);
    transition: 0.2s ease;
}
.footer-link:hover {
    color: rgba(1, 1, 1, 1);
    border-bottom: 1px solid rgba(1, 1, 1, 1);
}